out_to_x no
own_window no
out_to_console yes
background no
max_text_width 0
update_interval 1.0
total_run_times 0
double_buffer yes
short_units yes
if_up_strictness address
use_spacer left
override_utf8_locale yes
cpu_avg_samples 2

TEXT
^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) \
^fg(\#BFBFBF)$kernel \
^fg(\#808060)| \
^fg(\#BFBFBF)$uptime \
^fg(\#808060)| \
${if_match ${cpu cpu0} > 60}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${cpu cpu0}% ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${cpu cpu0}% ${endif}\
${if_match ${cpu cpu1} > 60}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${cpu cpu1}% ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${cpu cpu1}% ${endif}\
${if_match ${cpu cpu2} > 60}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${cpu cpu2}% ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${cpu cpu2}% ${endif}\
${if_match ${cpu cpu3} > 60}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${cpu cpu3}% ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${cpu cpu3}% ${endif}\
^fg(\#808060)| \
${if_match ${hwmon 2 temp 2} > 50}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${hwmon 2 temp 2}°C ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${hwmon 2 temp 2}°C ${endif} \
${if_match ${hwmon 2 temp 3} > 50}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${hwmon 2 temp 3}°C ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${hwmon 2 temp 3}°C ${endif} \
${if_match ${hwmon 2 temp 4} > 50}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${hwmon 2 temp 4}°C ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${hwmon 2 temp 4}°C ${endif} \
${if_match ${hwmon 2 temp 5} > 50}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${hwmon 2 temp 5}°C ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${hwmon 2 temp 5}°C ${endif} \
^fg(\#808060)| \
${if_match $memperc > 70}^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) $memeasyfree ($memperc%) ${else}^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)F: $memeasyfree / T: $memmax ${endif} \
^fg(\#808060)| \
^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${fs_free /} \
^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#52CC52)${diskio_read sda} ^fg(\#CC5252)${diskio_write sda} \
^fg(\#808060)| \
^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${fs_free /home} \
^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#52CC52)${diskio_read sdb} ^fg(\#CC5252)${diskio_write sdb} \
^fg(\#808060)| \
^fn(fontawesome)^fg(\#52CC52) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${downspeed enp3s0} \
^fn(fontawesome)^fg(\#CC5252) ^fn(dejavu sans:bold:size=10.5:antialias=true) ${upspeed enp3s0} \
^fg(\#808060)| \
^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${time %d-%m-%Y} \
^fn(fontawesome)^fg(\#5290CC) ^fn(dejavu sans:bold:size=10.5:antialias=true) ^fg(\#BFBFBF)${time %H:%M:%S}
